spring:
  application:
    name: labwork-manager
  datasource:
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
server:
  port: 9091

app:
  security:
    jwt-secret: ${APP_JWT_SECRET}
    jwt-expiration-seconds: ${APP_JWT_EXPIRATION:3600}
